In [2]:
import pandas as pd
df = pd.read_csv(r'C:\Users\yonas\Downloads\weather (1).csv')
df

,Data.Precipitation,Date.Full,Date.Month,Date.Week of,Date.Year,Station.City,Station.Code,Station.Location,Station.State,Data.Temperature.Avg Temp,Data.Temperature.Max Temp,Data.Temperature.Min Temp,Data.Wind.Direction,Data.Wind.Speed
0,0.00,2016-01-03,1,3,2016,Birmingham,BHM,"Birmingham, AL",Alabama,39,46,32,33,4.33
1,0.00,2016-01-03,1,3,2016,Huntsville,HSV,"Huntsville, AL",Alabama,39,47,31,32,3.86
2,0.16,2016-01-03,1,3,2016,Mobile,MOB,"Mobile, AL",Alabama,46,51,41,35,9.73
3,0.00,2016-01-03,1,3,2016,Montgomery,MGM,"Montgomery, AL",Alabama,45,52,38,32,6.86
4,0.01,2016-01-03,1,3,2016,Anchorage,ANC,"Anchorage, AK",Alaska,34,38,29,19,7.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16738,0.08,2017-01-01,1,1,2017,Casper,CPR,"Casper, WY",Wyoming,23,32,15,23,19.98
16739,0.00,2017-01-01,1,1,2017,Cheyenne,CYS,"Cheyenne, WY",Wyoming,32,42,21,26,15.16
16740,0.00,2017-01-01,1,1,2017,Lander,LND,"Lander, WY",Wyoming,17,29,4,26,1.65
16741,0.06,2017-01-01,1,1,2017,Rawlins,RWL,"Rawlins, WY",Wyoming,23,31,13,24,18.16
16742,0.10,2017-01-01,1,1,2017,Sheridan,SHR,"Sheridan, WY",Wyoming,21,34,8,23,7.51

In [4]:
df.head(2)

,Data.Precipitation,Date.Full,Date.Month,Date.Week of,Date.Year,Station.City,Station.Code,Station.Location,Station.State,Data.Temperature.Avg Temp,Data.Temperature.Max Temp,Data.Temperature.Min Temp,Data.Wind.Direction,Data.Wind.Speed
0,0.0,2016-01-03,1,3,2016,Birmingham,BHM,"Birmingham, AL",Alabama,39,46,32,33,4.33
1,0.0,2016-01-03,1,3,2016,Huntsville,HSV,"Huntsville, AL",Alabama,39,47,31,32,3.86

In [18]:
df.shape # total number row and columen

(16743, 14)

In [19]:
df.index # it provide the index of dataframe

RangeIndex(start=0, stop=16743, step=1)

In [20]:
df.columns # provide the name of each column

Index(['Data.Precipitation', 'Date.Full', 'Date.Month', 'Date.Week of',
       'Date.Year', 'Station.City', 'Station.Code', 'Station.Location',
       'Station.State', 'Data.Temperature.Avg Temp',
       'Data.Temperature.Max Temp', 'Data.Temperature.Min Temp',
       'Data.Wind.Direction', 'Data.Wind.Speed'],
      dtype='object')

In [22]:
df.dtypes # data type of each columns

Data.Precipitation           float64
Date.Full                     object
Date.Month                     int64
Date.Week of                   int64
Date.Year                      int64
Station.City                  object
Station.Code                  object
Station.Location              object
Station.State                 object
Data.Temperature.Avg Temp      int64
Data.Temperature.Max Temp      int64
Data.Temperature.Min Temp      int64
Data.Wind.Direction            int64
Data.Wind.Speed              float64
dtype: object

In [23]:
df['Station.City'].unique()

array(['Birmingham', 'Huntsville', 'Mobile', 'Montgomery', 'Anchorage',
       'Annette', 'Bethel', 'Bettles', 'Cold Bay', 'Cordova',
       'Delta Junction/Ft Greely', 'Fairbanks', 'Gulkana', 'Homer',
       'Iliamna', 'Juneau', 'Kenai', 'Ketchikan', 'King Salmon', 'Kodiak',
       'Kotzebue', 'Mc Grath', 'Nome', 'Northway', 'Palmer', 'Petersburg',
       'Puntilla Lake', 'Shemya', 'Sitka', 'Skagway', 'St Paul Island',
       'Talkeetna', 'Tanana', 'Utqiagvik (Barrow)', 'Yakutat',
       'Douglas Bisbee', 'Kingman', 'Phoenix', 'Tucson', 'Winslow',
       'Fort Smith', 'Harrison', 'North Little Rock', 'Bakersfield',
       'Bishop', 'China Lake', 'Concord', 'Eureka', 'Fresno', 'Hayward',
       'Long Beach', 'Los Angeles', 'Red Bluff', 'Redding', 'Sacramento',
       'Salinas', 'San Diego', 'San Francisco', 'Sandberg',
       'Santa Barbara', 'Santa Maria', 'Stockton', 'Alamosa',
       'Colorado Springs', 'Craig', 'Denver', 'Grand Junction', 'Pueblo',
       'Bridgeport', 'Windsor Locks', 'Newark', 'Wilmington',
       'Daytona Beach', 'Fort Lauderdale', 'Gainesville', 'Jacksonville',
       'Key West', 'Miami', 'Orlando', 'Pensacola', 'Tallahassee',
       'Tampa', 'Vero Beach', 'West Palm Beach', 'Alma', 'Athens',
       'Atlanta', 'Augusta', 'Macon', 'Savannah', 'Hilo', 'Honolulu',
       'Kahului', 'Kaunakakai', 'Lihue', 'Boise', 'Lewiston', 'Pocatello',
       'Chicago', 'Moline', 'Peoria', 'Quincy', 'Rockford', 'Springfield',
       'Evansville', 'Fort Wayne', 'Indianapolis', 'South Bend',
       'Cedar Rapids', 'Des Moines', 'Dubuque', 'Sioux City', 'Waterloo',
       'Concordia', 'Dodge City', 'Goodland', 'Medicine Lodge', 'Topeka',
       'Wichita', 'Covington', 'Jackson', 'Lexington', 'Louisville',
       'Paducah', 'Baton Rouge', 'Lake Charles', 'New Orleans',
       'Shreveport', 'Slidell', 'Bangor', 'Caribou', 'Portland',
       'Baltimore', 'Salisbury', 'Boston', 'Milton', 'Worcester',
       'Alpena', 'Detroit', 'Flint', 'Grand Rapids', 'Houghton Lake',
       'Lansing', 'Marquette', 'Muskegon', 'Sault Ste Marie', 'Duluth',
       'International Falls', 'Minneapolis', 'Rochester', 'St Cloud',
       'Greenville', 'Greenwood', 'Gulfport', 'Hattiesburg', 'Meridian',
       'Tupelo', 'Cape Girardeau', 'Columbia', 'Kansas City',
       'Rolla/Vichy', 'St Joseph', 'St Louis', 'Billings', 'Butte',
       'Cut Bank', 'Dillon', 'Glasgow', 'Great Falls', 'Havre', 'Helena',
       'Kalispell', 'Miles City', 'Missoula', 'Grand Island', 'Lincoln',
       'Norfolk', 'North Platte', 'Omaha', 'Scottsbluff', 'Sidney',
       'Valentine', 'Ely', 'Las Vegas', 'Mercury', 'Reno', 'Winnemucca',
       'Mt. Washington', 'Atlantic City', 'Albuquerque', 'Clayton',
       'Roswell', 'Albany', 'Binghamton', 'Buffalo', 'Glens Falls',
       'Islip', 'New York', 'Syracuse', 'Asheville', 'Cape Hatteras',
       'Charlotte', 'Greensboro', 'Hickory', 'Raleigh/Durham', 'Bismarck',
       'Dickinson', 'Fargo', 'Grand Forks', 'Williston', 'Akron',
       'Cleveland', 'Columbus', 'Dayton', 'Mansfield', 'Toledo',
       'Youngstown/Warren', 'Gage', 'Oklahoma City', 'Ponca City',
       'Tulsa', 'Astoria', 'Burns', 'Eugene', 'Medford', 'Pendleton',
       'Redmond', 'Salem', 'Allentown', 'Erie', 'Harrisburg',
       'Philadelphia', 'Pittsburgh', 'Wilkes-Barre/Scranton',
       'Williamsport', 'San Juan', 'Providence', 'Anderson', 'Charleston',
       'Greer', 'Aberdeen', 'Huron', 'Pierre', 'Rapid City',
       'Sioux Falls', 'Bristol/Jhnsn Cty/Kngsprt', 'Chattanooga',
       'Clarksville', 'Crossville', 'Knoxville', 'Memphis', 'Nashville',
       'Oak Ridge', 'Abilene', 'Amarillo', 'Austin/Bergstrom',
       'Austin/City', 'Beaumont/Port Arthur', 'Brownsville', 'Childress',
       'College Station', 'Corpus Christi', 'Dalhart', 'Dallas',
       'Dallas-Fort Worth', 'Del Rio', 'El Paso', 'Fort Worth',
       'Galveston', 'Houston', 'Lubbock', 'Midland', 'San Angelo',
       'San Antonio', 'Victoria', 'Waco', 'Wichita Falls',
       'Salt Lake City', 'Blacksburg', 'Burlington', 'Lynchburg',
       'Richmond', 'Roanoke', 'Wallops Island', 'Washington', 'Deer Park',
       'Ephrata', 'Olympia', 'Quillayute', 'Seattle', 'Spokane', 'Yakima',
       'Beckley', 'Elkins', 'Huntington', 'Green Bay', 'La Crosse',
       'Madison', 'Milwaukee', 'Casper', 'Cheyenne', 'Lander', 'Rawlins',
       'Sheridan', 'Gustavus', 'Wrangell', 'Unalakleet'], dtype=object)